.button {
  border: 0;
  font-size: 25px;
  padding: 10px;
  color: $black;
  cursor: pointer;
}

.regular {
  background: $silver;

  &:hover {
    background: darken($silver, 5%);
  }

  &:active {
    background: darken($silver, 10%);
  }
}

.orange {
  background: $orange;

  &:hover {
    background: darken($orange, 5%);
  }

  &:active {
    background: darken($orange, 10%);
  }
}

.dark {
  background: $sliverChalice;

  &:hover {
    background: darken($sliverChalice, 5%);
  }

  &:active {
    background: darken($sliverChalice, 10%);
  }
}
