.button {
  border: 0;
  font-size: 25px;
  padding: 10px;
  color: #000;
  cursor: pointer;
}

.regular {
  background: #ccc;

  &:hover {
    background: darken(#ccc, 5%);
  }

  &:active {
    background: darken(#ccc, 10%);
  }
}

.orange {
  background: orange;

  &:hover {
    background: darken(orange, 5%);
  }

  &:active {
    background: darken(orange, 10%);
  }
}

.dark {
  background: #aaa;

  &:hover {
    background: darken(#aaa, 5%);
  }

  &:active {
    background: darken(#aaa, 10%);
  }
}
